  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <button class="btn btn-success" (click)="getNavigation('create', '')">Create New Product</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <table #productsTable class="table table-bordered table-hover" style="width:100%">
        <thead>
        <tr>
        <th>#</th>
        <th>Picture</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products; let i =index;">
          <td>{{i + 1}}</td>
          <td><img [src]="product.picture" /></td>
          <td><a [title]="product.name" [routerLink]="['/products', productId]">{{product.name}}</a></td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="getNavigation('view', product.p_id)">View</button>
            <button type="button" class="btn btn-warning" (click)="getNavigation('update', product.p_id)">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
